{% extends 'base.html' %}
{% block content %}
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">{{ course.name }}</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">{{ course.description }}</p>
                <a class="btn btn-light btn-xl" href="academy/course/{{ course.id }}/subscribe">Matriculate!</a>
            </div>
        </div>
    </div>
</section>    
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Ofrecemos:</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Cursos actualizados</h3>
                    <p class="text-muted mb-0">Conocemos las necesidades del mercado, es por eso que nuestros cursos son actualizados anualmente para ofrecer una experiencia de aprendizaje más completa.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Clases Online</h3>
                    <p class="text-muted mb-0">Contamos con modalidad online para aquellos alumnos que trabajan o se encuentran fuera del país.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Reconocimientos de calidad global</h3>
                    <p class="text-muted mb-0">Contamos con el reconocimiento del Ministerio de Educación de Chile y además somos el único Instituto del país en aparecer en los ránkings de calidad educativa 'Nature Index' y 'QS World University'.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Empleabilidad garantizada</h3>
                    <p class="text-muted mb-0">Apoyamos a nuestros alumnos en su inserción laboral a través de nuestros programas de práctica y redes de asociados.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}